<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">blog</a></li>
	        		<li><a href="/images">IMAGES</a></li>	        	
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:rbobkoskie3@gatech.edu">email</a></li>
	        		<li><a href="https://github.com/rbobkoskie3">github.com/rbobkoskie3</a></li>
				</ul>
			</footer>
		</body>
	</html>
