<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>		        
	        		<li><a href="/about">About Project</a></li>	        	
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			<ul><li><a href="/circle">CIRCLES</a></li></ul>
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<!-- <li><a href="mailto:rbobkoskie3@gatech.edu">email</a></li> -->			
				<p>If there are any additional feedback, enter in textbox and click "Send".</p>
				<form action="mailto:rbobkoskie3@gatech.edu" method="GET">
					<textarea name="body"></textarea>
					<input type="submit" value="Send" />
				</form>
	        		<li><a href="https://github.com/rbobkoskie3">github.com/rbobkoskie3</a></li>
				</ul>
			</footer>
		</body>
	</html>
